
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Create a New Song</h1>
<!--not sure if calling slug on song_name below will work..maybe pass in empty song variable and change its value in form?-->
<form action='/songs' method="POST">

  <label>Song Name:</label>

  <input type="text" name="Name">

  <label>Artist Name:</label>

  <input type="text" name="Artist Name">

  Pick a Genre:

  <%@genres.each do |genre|%>
    <input type="checkbox"
    name="genres[]"
    value="<%=genre.id%>"
    id="<%=genre.name%>">
    <%=genre.name%></input>
  <%end%>

  <input type="submit" value="Create">

</form>
